outfit-filter-workflow.json
{
  "updatedAt": "2026-03-15T13:00:00.000Z",
  "createdAt": "2026-03-13T19:08:20.553Z",
  "id": "trQtdF4EFkSgJf0w",
  "name": "전신 코디(Outfit) 이미지 자동 필터링 워크플로우 (최종 완성본)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "outfit-filter",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "82aae4fc-e009-4e6a-95f1-ffcd45b75f2f"
    },
    {
      "parameters": {
        "url": "={{$node[\"Webhook\"].json.body.imageUrl.trim()}}",
        "options": {},
        "responseFormat": "file"
      },
      "id": "download-image",
      "name": "HTTP Request (Image Download)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "values": {
          "string": [
            {
              "name": "cardImageId",
              "value": "={{$node[\"Webhook\"].json.body.cardImageId}}"
            },
            {
              "name": "status",
              "value": "={{$json.text.split(\"status\\\": \\\"\")[1].split(\"\\\"\")[0]}}"
            },
            {
              "name": "aiComment",
              "value": "={{$json.text.split(\"aiComment\\\": \\\"\")[1].split(\"\\\"\")[0]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-result",
      "name": "Set Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        608,
        0
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash"
        },
        "text": "너는 패션 매거진의 매우 엄격한 이미지 검수자야.\n1. 사진에 실제 '사람(모델)'이 보이지 않으면 무조건 'AI_FLAGGED'야.\n2. 신발, 가방, 옷만 덩그러니 놓여 있는 '바닥 컷'이나 '제품 단독 샷'은 절대로 통과시키지 마.\n3. 오직 사람이 직접 옷을 입고 있는 '전신' 또는 '착용 모습'이 보일 때만 'AI_PASSED'로 설정해.\n결과를 아래 JSON 형식으로만 답해:\n{\"status\": \"AI_PASSED\" 또는 \"AI_FLAGGED\", \"aiComment\": \"이유(50자 이내)\"}",
        "options": {},
        "binaryPropertyName": "data",
        "inputType": "binary"
      },
      "id": "analyze-image",
      "name": "Analyze an image",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "executeOnce": true,
      "credentials": {
        "googlePalmApi": {
          "id": "gGchfui04kDcGxa8",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request (Image Download)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (Image Download)": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Set Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ae1de152-3c90-423c-9e5d-1727f8dd1ad9",
  "activeVersionId": "ae1de152-3c90-423c-9e5d-1727f8dd1ad9",
  "versionCounter": 165,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-13T19:08:20.559Z",
      "createdAt": "2026-03-13T19:08:20.559Z",
      "role": "workflow:owner",
      "workflowId": "trQtdF4EFkSgJf0w",
      "projectId": "QqpFFSYqJUguz4fZ",
      "project": {
        "updatedAt": "2026-03-12T17:58:36.669Z",
        "createdAt": "2026-03-12T17:58:15.017Z",
        "id": "QqpFFSYqJUguz4fZ",
        "name": "재웅 정 <woongblack123@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "bce774d8-02a1-4c27-ab21-5082bae65d47"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-14T15:45:21.633Z",
    "createdAt": "2026-03-14T15:45:21.633Z",
    "versionId": "ae1de152-3c90-423c-9e5d-1727f8dd1ad9",
    "workflowId": "trQtdF4EFkSgJf0w",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "outfit-filter",
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "webhook",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "webhookId": "82aae4fc-e009-4e6a-95f1-ffcd45b75f2f"
      },
      {
        "parameters": {
          "url": "={{$node[\"Webhook\"].json.body.imageUrl.trim()}}",
          "options": {},
          "responseFormat": "file"
        },
        "id": "download-image",
        "name": "HTTP Request (Image Download)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          208,
          0
        ]
      },
      {
        "parameters": {
          "mode": "manual",
          "values": {
            "string": [
              {
                "name": "cardImageId",
                "value": "={{$node[\"Webhook\"].json.body.cardImageId}}"
              },
              {
                "name": "status",
                "value": "={{$json.text.split(\"status\\\": \\\"\")[1].split(\"\\\"\")[0]}}"
              },
              {
                "name": "aiComment",
                "value": "={{$json.text.split(\"aiComment\\\": \\\"\")[1].split(\"\\\"\")[0]}}"
              }
            ]
          },
          "options": {}
        },
        "id": "set-result",
        "name": "Set Result",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.2,
        "position": [
          608,
          0
        ]
      },
      {
        "parameters": {
          "resource": "image",
          "operation": "analyze",
          "modelId": {
            "__rl": true,
            "mode": "list",
            "value": "models/gemini-2.0-flash",
            "mode": "list",
            "cachedResultName": "models/gemini-2.0-flash"
          },
          "text": "너는 패션 매거진의 매우 엄격한 이미지 검수자야.\n1. 사진에 실제 '사람(모델)'이 보이지 않으면 무조건 'AI_FLAGGED'야.\n2. 신발, 가방, 옷만 덩그러니 놓여 있는 '바닥 컷'이나 '제품 단독 샷'은 절대로 통과시키지 마.\n3. 오직 사람이 직접 옷을 입고 있는 '전신' 또는 '착용 모습'이 보일 때만 'AI_PASSED'로 설정해.\n결과를 아래 JSON 형식으로만 답해:\n{\"status\": \"AI_PASSED\" 또는 \"AI_FLAGGED\", \"aiComment\": \"이유(50자 이내)\"}",
          "options": {},
          "binaryPropertyName": "data",
          "inputType": "binary"
        },
        "id": "analyze-image",
        "name": "Analyze an image",
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1,
        "position": [
          400,
          0
        ],
        "retryOnFail": false,
        "maxTries": 5,
        "waitBetweenTries": 5000,
        "executeOnce": true,
        "credentials": {
          "googlePalmApi": {
            "id": "gGchfui04kDcGxa8",
            "name": "Google Gemini(PaLM) Api account 4"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "HTTP Request (Image Download)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request (Image Download)": {
        "main": [
          [
            {
              "node": "Analyze an image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analyze an image": {
        "main": [
          [
            {
              "node": "Set Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
